{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Change Password</title>
{% include 'headerfiles.html' %}
</head>
<body>
{% include "adminheader.html" %}
<div class="row first-info" style="background-image: url({% static 'images/back3.jpg' %})" width="1366px">

<div class="container">
    <br>
    <h1 align="center"><b>CHANGE PASSWORD</b></h1>
    <br>
    <br>
    <form action="changepassword" method="post" id="form1" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
        <b>Email id</b>
        <input  type="email" value="{{ request.session.email}}" name="email" class="form-control" readonly data-rule-required="true">
    </div>

    <div class="form-group">
        <b>old password</b>
        <input  type="password"  name="oldpassword" class="form-control" data-rule-required="true">
    </div>

   <div class="form-group" >
       <b>new password</b>
            <input type="password" name="newpassword" id="newpass" class="form-control" data-rule-required="true">
   </div>
        <div class="form-group" >
       <b>confirm password</b>
            <input type="password" name="confirmpassword"  class="form-control" data-rule-required="true" data-rule-equalto="#newpass">
   </div>


    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Submit">
    </div>
    </form>
<br><br><br><br><br>
</div>
</div>
{% include 'footer.html' %}
</body>
</html>