<!-- footer -->
	<footer class="pt-sm-5 pt-3">
		<div class="container py-xl-5 py-lg-3">
			<div class="row footer-grids py-4">
				<div class="col-lg-4 footer-grid text-left">
					<div class="footer-logo">
						<h2 class="mb-3">
                            <a class="logo text-wh" href="index.html"><b>Share My Space</b></a>
						</h2>
					</div>
				</div>
				<div class="col-lg-2 col-6  footer-grid my-lg-0 my-4">
					<h3 class="mb-sm-4 mb-3 pb-3">Home</h3>
					<ul class="list-unstyled">
						<li>
							<a href="index.html">Index</a>
						</li>
						<li class="my-2">
							<a href="#about">About Us</a>
						</li>
						<li>
							<a href="#what">What We Do</a>
						</li>
						<li class="my-2">
							<a href="#gallery">Gallery</a>
						</li>
						<li>
							<a href="#contact">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-6 footer-grid my-lg-0 my-4">
					<h3 class="mb-sm-4 mb-3 pb-3"> Navigation </h3>
					<ul class="list-unstyled">
						<li>
							<a href="#stats">Statistics</a>
						</li>
						<li class="my-2">
							<a href="#dis">Discount</a>
						</li>
						<li>
							<a href="#price">Pricing</a>
						</li>
						<li class="my-2">
							<a href="#blog">Blog</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-6 footer-grid">
					<h3 class="mb-sm-4 mb-3 pb-3">Login Links</h3>
					<ul class="list-unstyled">
						<li>
							<a href="login">Admin Login</a>
						</li>
						<li class="my-2">
							<a href="userlogin">User Login</a>
						</li>
						<li>
							<a href="viewpublicnews">News</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-6 footer-grid footer-contact">
					<h3 class="mb-sm-4 mb-3 pb-3"><b>Contact Us</b> </h3>
					<ul class="list-unstyled">

						<li class="mt-2">
							<a href="mailto:tarands97@gmail.com"><b>tarands97@gmail.com</b></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- copyright -->
		<div class="copy_right">
			<p class="text-center text-wh py-sm-3 py-3">© 2019 Share My Space. All rights reserved | Design by
				<a style="color: orange">Tarandeep Singh</a>
			</p>
		</div>
		<!-- //copyright -->
	</footer>
	<!-- //footer -->
	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->