{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update News Data</title>
 {% include 'headerfiles.html'  %}
</head>
<body>
{% include "adminheader.html" %}
    <div class="row first-info" style="background-image: url({% static 'images/back3.jpg' %})" >

<div class="container">
    <br>
    <h1 align="center"><b>EDIT NEWS</b></h1>
    <br>
    <form action="savenews" method="get">
        <div class="form-group">
        news id
        <input readonly="true" type="text" value="{{id }}" name="id" class="form-control">
    </div>
    <div class="form-group">
        <b>Enter title</b>
        <input  type="text" value="{{ title }}" name="textbox1" class="form-control" data-rule-required="true">
    </div>

   <div >
       <b>Enter Description</b>
            <input type="text" name="textbox2" value="{{ description }}" class="form-control" data-rule-reuired="true">
   </div>

<br>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="submit">
    </div>
    </form>

</div>
</div>
{% include 'footer.html' %}
</body>
</html>