{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Room Data</title>
    {% include 'headerfiles.html'  %}
</head>
<body>
 {% include "userheader.html" %}
 <div class="row first-info" style="background-image: url({% static 'images/back15.jpg' %})" >

<div class="container">
    <h1 align="center" style="background-color: wheat"><b>EDIT ROOM</b></h1>
    <form action="saveroom" method="get" id="form1" >
    <div class="form-group">
            <b>ROOM ID
            <input type="text" readonly value="{{ roomid }}"  name="roomid" class="form-control">
        </div>

        <div class="form-group">
            <b>Enter Title</b>
            <input type="text" value="{{ title }}"  name="title" class="form-control" data-rule-required="true">
        </div>

        <div class="form-group">
            <b>Enter Priceperday</b>
            <input type="text" value="{{ priceperday }}" name="ppd" class="form-control" data-rule-required="true">
        </div>

        <div class="form-group">
            <b>Enter Description</b>
            <input type="text" value="{{ description }}" name="description" class="form-control" data-rule-required="true">
        </div>


        <div class="form-group">
            <b>City</b>
            <input type="text" value="{{ city }}" name="city" class="form-control" data-rule-required="true">
        </div>
        <div class="form-group">
            <b>Address</b>
            <input type="text" value="{{ address }}" name="address" class="form-control" data-rule-required="true">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="UPDATE">
        </div>
    </form>
</div>
</div>
{% include 'footer.html' %}
</body>
</html>