<!-- main -->
	<div id="home">
		<!-- header -->
		{% include 'toplinks.html' %}
		<!-- //header -->

		<!-- banner -->
		<div class="banner_w3lspvt">
			<div class="csslider infinity" id="slider1">
				<input type="radio" name="slides" checked="checked" id="slides_1" />
				<input type="radio" name="slides" id="slides_2" />
				<input type="radio" name="slides" id="slides_3" />
				<ul class="banner_slide_bg">
					<li class="banner-top1" style="min-height: 76px;">

					</li>
				</ul>
			</div>
		</div>
		<!-- //banner -->
	</div>
	<!-- //main -->