	<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-sm-3 py-2 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a href="/">Share My Space</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle toogle-2">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li class="my-0"><a href="/"><b>Home</b></a></li>
                                <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="searchroom"><b>Search Room</b></a></li>
								<li>
									<!-- First Tier Drop Down -->
									<label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
									</label>
									<a href="#"><b>Dropdown</b> <span class="fa fa-angle-down" aria-hidden="true"></span></a>
									<input type="checkbox" id="drop-2" />
									<ul>
										<li><a href="#stats" class="drop-text">Statistics</a></li>
										<li><a href="#price" class="drop-text">Pricing</a></li>
										<li><a href="#what" class="drop-text">What We Do</a></li>
										<li><a href="#dis" class="drop-text">Discount</a></li>
										<li><a href="#blog" class="drop-text">Blog</a></li>
										<li><a href="#gallery" class="drop-text">Gallery</a></li>
									</ul>
								</li>
								<li class="mx-lg-4 mx-md-3 my-md-0 my-2">
									<!-- First Tier Drop Down -->
									<label for="drop-3" class="toggle">Login <span class="fa fa-angle-down" aria-hidden="true"></span>
									</label>
									<a href="#"><b>Login</b> <span class="fa fa-angle-down" aria-hidden="true"></span></a>
									<input type="checkbox" id="drop-3" />
									<ul>
										<li><a href="userlogin" class="drop-text">User Login</a></li>
										<li><a href="login" class="drop-text">Admin Login</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
					<div class="header-top_w3layouts text-center">

					</div>
				</div>
			</div>
		</header>
		<!-- //header -->