{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
     {% include 'headerfiles.html'  %}

</head>
<body>
{% include "publicheader.html" %}
<div class="row first-info" style="background-image: url({% static 'images/back7.png' %})" >

<div class="container">
    <h1 align="center"><b>Latest News</b></h1>
<br>
    <table class="table table-hover">

       {% for row in data %}

           <tr>
          <td><b>{{ row.title}}</b></td>
           <td><b>{{ row.description}}</b></td>

           </tr>
       {% endfor %}

   </table>

</div>
</div>
{% include 'footer.html' %}
</body>
</html>